.post-l7 {
  display: flex;
  font-weight: bold;
  padding: 5px;


  &__title {
    margin: 0 10px;

    &::first-letter {
      text-transform: uppercase;
    }
  }

  &__link {
    margin-left: auto;
  }
}
