.guest {
  display: flex;
  padding: 20px 30px;

  &:hover {
    background: #f6f6f6;
  }

  &__info {
    width: 75%;
  }

  &__btn {
    width: 25%;
    text-align: center;

    .btn {
      background: #94c21e;
      border: none;
      padding: 10px 40px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 3px;

      &:hover, &:focus {
        background: #a8db20;
      }
      &.active {
        background: #c61818;
      }
    }
  }
}